.env
.env.local
.env.*.local
node_modules
dist
coverage
logs
*.log
*.pid
*.seed
*.tgz
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/.idea
/.vscode
/.nyc_output
/.next
/.vercel
.husky/_/*
secrets/
